{% extends 'StvnBlogBundle::layout.html.twig' %}

{% block blog %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name, {'label': 'Category Name'}) }}
        {{ form_row(form.save) }}
        <a href="{{ path('stvn_blog_homepage') }}">back to blog index</a>
    {{ form_end(form) }}
{% endblock %}