{% extends 'StvnUserBundle::layout.html.twig' %}

{% block user %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.userName, {'label':'email'}) }}
        {{ form_row(form.userPassword, {'label':'password'}) }}
        {{ form_row(form.login) }}
        <a href="{{ path('stvn_user_sign') }}">Sign Up</a>
    {{ form_end(form) }}
{% endblock %}